{% set classList = "mb-2 text-2xl font-medium text-gray-900 sm:text-3xl title-font" %}

<div class="w-full mb-4 lg:w-1/2">
  {{ tag(tagLevel, {
      class: classList,
      text: text
  }) }}
  <div class="w-20 h-1 bg-purple"></div>
</div>