{% extends "_layout" %}

{% import "_macros/heros.twig" as heros %}

{% block content %}

{{ sprig.script }}
  
{% set category = category ?? null %}

	{{ heros.singleHero('Blog') }}
  
  <section class="py-8 lg:pt-4 lg:pb-20">

    <div class="container-default">
      <div class="self-start content-wrapper content-wrapper--wide sm:row-start-1">
      
        {{ sprig('_sprig/blog/index', {
          category: category ? category.id : null,
          query: null,
          limit: 10
        }) }}
      </div>
      
    </div>
  </section>

{% endblock %}
