{% extends "_layout" %}

{#{% set param = craft.app.request.getParam('a') %}#}
{#{% set active = applications.activeApplications|split(', ')  %}#}

{#{% if not param|length %}#}
{#	{% exit 404 %}#}
{#{% endif %}#}

{#{% set valid = false %}#}
{#{% for name in active %}#}
{#	{% if name is same as(param|replace({'-': ' '})) %}#}
{#		{% set valid = name %}#}
{#	{% endif %}#}
{#{% endfor %}#}

{#{% if not valid %}#}
{#	{% exit 404 %}#}
{#{% endif %}#}

{% block content %}

	{% set category = category ?? null %}

	<section class="py-6 lg:pb-12 lg:pt-16 bg-night">
		<div class="container-default">
			<div class="content-wrapper content-wrapper--center">
				<h1 class="mb-2 text-5xl lg:text-6xl text-froly vw-900">
					Sample Work
				</h1>
			</div>
		</div>
	</section>

	{{ include('_atoms/wave', {
		color: 'night'
	}, with_context = false) }}

	<section class="py-12 container-default">
		<div class="content-wrapper content-wrapper--full">
			<div class="flex flex-wrap -m-4">

				{% for sample in entry.workSamples.with(['image', 'client', 'technologyTags']).all() %}
					{{ include('_components/work-samples/preview-card', {
						entry: sample,
						url: sample.url,
						image: sample.image[0] ?? null,
						client: sample.client[0] ?? null,
						tags: sample.technologyTags
					}, with_context = false) }}
				{% endfor %}

				<div class="relative p-4 md:w-1/2">
					<article class="h-full bg-night text-white shadow-md border-opacity-60 rounded-lg overflow-hidden transition-shadow hover:shadow-lg focus-within:shadow-lg">
						<div class="p-6 h-full flex flex-col justify-center">
							<h3 class="text-xl">Want to see more?</h3>
							<p class="py-4">I would be happy to share more projects with you or to get into the weeds about a specific project!</p>
							<p><a href="{{ url('contact') }}" class="text-sand vw-700">Get in touch</a></p>
						</div>
					</article>
				</div>

			</div>
		</div>
	</section>


{% endblock %}
