<div class="flex flex-col items-center justify-center mb-10">
  
  <img src="{{ url('assets/images/dog2.png') }}" alt="Outline of cute dog" class="block w-16 h-auto mx-auto"/>

  <h4 class="mt-4 mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">
    Ruh Roh!
  </h4>
  <p class="mb-8 leading-relaxed">
    It looks like there aren't any blog posts that match your criteria. 
  </p>

</div>