@layer utilities {
  .vw-100{
    --text-weight:100;
    font-variation-settings: "wght" var(--text-weight);
  }
  
  .vw-200{
    --text-weight:200;
    font-variation-settings: "wght" var(--text-weight);
  }

  .vw-250{
    --text-weight:250;
    font-variation-settings: "wght" var(--text-weight);
  }
  
  .vw-300{
    --text-weight:300;
    font-variation-settings: "wght" var(--text-weight);
  }
  
  .vw-400{
    --text-weight:400;
    font-variation-settings: "wght" var(--text-weight);
  }
  
  .vw-500{
    --text-weight:500;
    font-variation-settings: "wght" var(--text-weight);
  }
  
  .vw-600{
    --text-weight:600;
    font-variation-settings: "wght" var(--text-weight);
  }
  
  .vw-700{
    --text-weight:700;
    font-variation-settings: "wght" var(--text-weight);
  }
  
  .vw-800{
    --text-weight:800;
    font-variation-settings: "wght" var(--text-weight);
  }
  
  .vw-900{
    --text-weight:900;
    font-variation-settings: "wght" var(--text-weight);
  }

  .stroke-3 {
    stroke-width: 3!important;
  }

  .stroke-4 {
    stroke-width: 3!important;
  }
}

.prose h2{
  @apply mt-3 vw-700;
}

.prose h3{
  @apply vw-500;
}

.prose h4{
  @apply text-base text-valencia vw-600;
}

.prose h6{
  @apply tracking-tight text-gray-500 uppercase vw-700;
}

.prose code{
  @apply inline-block px-2 py-0 text-gray-600 bg-gray-100;
}

.prose code::before, .prose code::after{
  content: '';
}

.prose, p {
  @apply vw-300;
}

.prose a{
  @apply vw-500 text-valencia hover:text-[#d43939] no-underline focus-visible:outline-none focus-visible:ring-offset-1 focus-visible:ring-offset-night focus-visible:ring-2 ring-valencia;
}

.callout p{
  @apply my-0 !important;
}

.prose > ul > li > :last-child{
  margin-bottom: 0;
}

.prose > ul > li > :first-child{
  margin-top: 0;
}