<!DOCTYPE html>
<html class="" lang="en">

	
	{{ include('_includes/globals/head') }}

	<body class="antialiased font-display">

		{% block navigation %}
			{{ include('_includes/globals/header', {bg: 'night', text: 'white'}, with_context = false) }}
		{% endblock %}

		<main id="main-content">
			{% block content %}{% endblock %}			
		</main>

		{{ include('_includes/globals/footer') }}

		{{ include('_includes/globals/scripts') }}

	</body>
</html>
