<footer class="py-6 bg-black lg:py-12">

  <div class="container-default">
    <div class="text-white content-wrapper content-wrapper--center">
      <span class="block mx-auto text-center">{{ include('_includes/svg/logo') }}</span>
      <span class="text-xs vw-400">&copy; {{ 'now'|date('Y') }} Andrew Menich. All rights reserved.</span>
    </div>
  </div>

</footer>