{% switch text %}
  {% case 'night' %}
		{% if bg is defined and bg == 'sand' %}
				{% set hover = 'teal' %}
			{% else  %}
				{% set hover = 'white' %}
		{% endif %}
  {% case 'froly' %}
    {% set hover = 'valencia' %}
  {% case 'valencia' %}
    {% set hover = 'teal' %}
  {% case 'teal' %}
    {% set hover = 'night' %}
  {% case 'white' %}
    {% set hover = 'sand' %}
  {% case 'black' %}
    {% set hover = 'valencia' %}
  {% default %}
    {% set hover = 'sand' %}
{% endswitch %}

<header class="grid grid-cols-12 px-4 bg-{{bg|default('night')}} text-{{text|default('white')}} lg:px-0 ">
	<a href="#main-content" class="absolute top-0 left-0 px-2 py-1 transform -translate-x-full border-2 border-valencia bg-white text-night vw-700 focus:translate-x-0">Skip to Main Content</a>
  <div class="container col-span-12 mx-auto lg:px-8">
    {{ include('_includes/globals/navigation', {hover: hover}) }}
  </div>
</header>
{# purgecss: bg-night bg-froly bg-teal bg-sand bg-valencia bg-white bg-black #}
{# purgecss: text-night text-froly text-teal text-sand text-valencia text-white text-black #}