{% extends "_layout" %}
{% block content %}

{% set categories = ["Select a Category","Frontend", "Backend", "Devops", "Plugins", "Craft" ] %}

<section class="py-8 lg:py-20">

  <div class="container grid grid-cols-12 gap-4 px-4 mx-auto justify-items-start sm:grid-flow-row-dense lg:px-0">
    
    {% include '_atoms/vertical-title' with
      {
        title: "TIL",
        tagLevel: "h1",
        position: "left",
        mobile: true
      }
      only
    %}

    <div class="w-full col-span-12 justify-self-end sm:col-start-3 sm:col-span-9 sm:row-start-1">

      {% include '_atoms/block-subtitle' with
        {
          text: "Today I Learned",
          tagLevel: "h2"
        }
        only
      %}

      <p>This is a collection of little tidbits, tricks, epiphanies, etc. that I learned today.<sup class="text-xs antialiased">*</sup></p>
      <p class="mt-3 text-xs text-gray-400"><sup class="text-xs antialiased text-gray-400">*</sup>Okay, maybe yesterday or like a year ago&hellip;</p>

    </div>

    <div class="w-full col-span-12 mt-4 sm:mt-40 sm:row-start-1 sm:col-start-3 sm:col-end-11">
      <div id="til-wrapper" class="grid grid-cols-2 gap-6 w-100">
        {% set tilPosts = craft.entries()
          .section('todayILearned')
          .limit(6)
          .with(['blogCategory'])
          .all() 
        %}

        {% for post in tilPosts %}
          {% include '_components/today-i-learned/preview-card' with 
            {
              title: post.title,
              summary: post.summary,
              category: post.blogCategory[0] ?? null,
              url: post.url,
              postDate: post.postDate,
              last: loop.last
            } 
            only
          %}
        {% endfor %}
      </div>
    </div>
    
  </div>
</section>

{% endblock %}
